.landingHeading {
  line-height: 1;

  @media (min-width: 380px) {
    line-height: 1.33;
  }
}

.landingBigBoxMenu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: none;

  @media (min-width: 1127px) {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
  }
}

.workCard:hover {
  .linkButton {
    pointer-events: all !important;
    opacity: 1 !important;
  }
}
