.landingHeading {
  line-height: 1;

  @media (min-width: 380px) {
    line-height: 1.33;
  }
}

.landingBigBoxMenu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: none;

  @media (min-width: 1127px) {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
  }
}

.valueIcon svg {
  height: 64px !important;

  @media (min-width: 768px) {
    height: 80px;
  }
}

.serviceIcon svg {
  height: 44px;

  @media (min-width: 380px) {
    height: 64px;
  }
}

.projectScrollLeft1 {
  animation: 25s linear 0s infinite normal none running marqueeLeftToRightMobile;

  @media (min-width: 480px) {
    animation: 25s linear 0s infinite normal none running marqueeLeftToRight;
  }
}

.projectScrollLeft2 {
  position: absolute;
  top: 0;
  height: 100%;
  animation: 25s linear 0s infinite normal none running
    marquee2LeftToRightMobile;

  @media (min-width: 480px) {
    animation: 25s linear 0s infinite normal none running marquee2LeftToRight;
  }
}

.projectScrollRight1 {
  animation: 25s linear 0s infinite normal none running marqueeRightToLeftMobile;

  @media (min-width: 480px) {
    animation: 25s linear 0s infinite normal none running marqueeRightToLeft;
  }
}

.projectScrollRight2 {
  position: absolute;
  top: 0;
  height: 100%;
  animation: 25s linear 0s infinite normal none running
    marquee2RightToLeftMobile;

  @media (min-width: 480px) {
    animation: 25s linear 0s infinite normal none running marquee2RightToLeft;
  }
}

.projectScrollLeft1,
.projectScrollLeft2,
.projectScrollRight1,
.projectScrollRight2 {
  & > div:nth-child(5),
  & > div:last-child {
    display: none;
  }

  @media (min-width: 1440px) {
    & > div:nth-child(5) {
      display: block;
    }
  }

  @media (min-width: 1920px) {
    & > div:last-child {
      display: block;
    }
  }
}

@keyframes marquee2LeftToRight {
  0% {
    transform: translateX(-1960px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes marqueeLeftToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1960px);
  }
}

@keyframes marquee2RightToLeft {
  0% {
    transform: translateX(1960px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes marqueeRightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1960px);
  }
}

@keyframes marquee2LeftToRightMobile {
  0% {
    transform: translateX(-880px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes marqueeLeftToRightMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(880px);
  }
}

@keyframes marquee2RightToLeftMobile {
  0% {
    transform: translateX(880px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes marqueeRightToLeftMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-880px);
  }
}
