.logo > svg {
  @media (max-width: 768px) {
    width: 26px;
    height: 26px;
  }
}

.hamburger {
  position: relative;

  & > span > span {
    position: relative;
    transition: all 0.3s;
    width: 100%;
    border-radius: 7px;
    background-color: black;
    height: 2.5px;
    width: 20px;
    left: 0;

    &:nth-child(2) {
      width: 16px;
      opacity: 1;
    }
  }
}

.activeHamburger {
  @extend .hamburger;

  & > span > span {
    &:nth-child(1) {
      left: 4px;
      transform: rotate(45deg);
      transform-origin: top left;
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      left: 4px;
      transform: rotate(-45deg);
      transform-origin: bottom left;
    }
  }
}

@mixin menu-default {
  @media (max-width: 767px) {
    pointer-events: none;
    border-radius: 100%;
    transition: all 0.25s;
    background-color: var(--primary-color);
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    overflow: hidden;
    top: 2rem;
    right: 2.75rem;
    left: calc(100vw - 2.75rem - 40px);
    bottom: calc(100vh - 2rem - 40px);

    li {
      opacity: 0;
    }
  }

  @media (max-width: 479px) {
    top: 1rem;
    right: 1.25rem;
    left: calc(100vw - 1.25rem - 40px);
    bottom: calc(100vh - 1rem - 40px);
  }
}

.menu {
  @include menu-default;

  @media (max-width: 767px) {
    will-change: top, left, right, bottom, opacity;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);
  }
}

.menuInactive {
  transition: all 0.25s;

  @media (max-width: 767px) {
    animation: hideMenuTab 0.4s ease-in-out;
    animation-fill-mode: forwards;

    li {
      transition: all 0.25s;
      opacity: 0;
    }
  }

  @media (max-width: 479px) {
    animation: hideMenuMobile 0.4s ease-in-out;
    animation-fill-mode: forwards;

    li {
      transition: all 0.25s;
      opacity: 0 !important;
    }
  }
}

.menuActive {
  transition: all 0.25s;

  @media (max-width: 767px) {
    animation: showMenuTab 0.4s ease-in-out;
    animation-fill-mode: forwards;

    li {
      transition: all 0.25s;
      transition-delay: 0.4s;
      opacity: 1;
    }
  }

  @media (max-width: 479px) {
    animation: showMenuMobile 0.4s ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes showMenuTab {
  0% {
    top: 2rem;
    right: 2.75rem;
    left: calc(100vw - 2.75rem - 40px);
    bottom: calc(100vh - 2rem - 40px);
  }
  50% {
    opacity: 0.5;
    left: calc(50vw - 100px);
    top: calc(50vh - 100px);
    right: calc(50vw - 100px);
    bottom: calc(50vh - 100px);
  }
  100% {
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    pointer-events: all;
  }
}

@keyframes hideMenuTab {
  0% {
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
  }
  50% {
    opacity: 0.5;
    left: calc(50vw - 100px);
    top: calc(50vh - 100px);
    right: calc(50vw - 100px);
    bottom: calc(50vh - 100px);
  }
  100% {
    top: 2rem;
    right: 2.75rem;
    left: calc(100vw - 2.75rem - 40px);
    bottom: calc(100vh - 2rem - 40px);
    pointer-events: none;
  }
}

@keyframes showMenuMobile {
  0% {
    top: 1rem;
    right: 1.25rem;
    left: calc(100vw - 1.25rem - 40px);
    bottom: calc(100vh - 1rem - 40px);
  }
  50% {
    opacity: 0.5;
    left: calc(50vw - 100px);
    top: calc(50vh - 100px);
    right: calc(50vw - 100px);
    bottom: calc(50vh - 100px);
  }
  100% {
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    pointer-events: all;
  }
}

@keyframes hideMenuMobile {
  0% {
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
  }
  50% {
    opacity: 0.5;
    left: calc(50vw - 100px);
    top: calc(50vh - 100px);
    right: calc(50vw - 100px);
    bottom: calc(50vh - 100px);
  }
  100% {
    top: 1rem;
    right: 1.25rem;
    left: calc(100vw - 1.25rem - 40px);
    bottom: calc(100vh - 1rem - 40px);
    pointer-events: none;
  }
}
