.buttonShadow {
  position: relative;

  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 2px;
    left: 12px;
    right: 12px;
    border-radius: inherit;
    background: transparent;
    box-shadow: 0 8px 12px 4px rgba(0, 0, 0, 0.3);
  }
}

.input {
  outline: none;

  &:focus {
    border-color: var(--primary-color) !important;
  }

  &:invalid {
    border-color: rgb(160, 0, 0);
  }

  &:required {
    border-color: var(--grey-color);
  }
}
