@font-face {
  font-family: "SF Pro";
  src: url("../../public/fonts/SF-Pro.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro";
  src: url("../../public/fonts/SF-Pro.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro";
  src: url("../../public/fonts/SF-Pro.ttf");
  font-weight: 700;
}
