@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-x-1-white-50 {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }

  .border-y-1-white-50 {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .border-1-white-50 {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .border-1-white-10 {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .blur-22-white-10 {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(22px);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
    will-change: transform;
  }

  .blur-5-white-10 {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
    will-change: transform;
  }

  .h-100-parent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  .inset-x-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .bg-gradient-white-50-0 {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
